*[hidden] {
    display: none!important;
}

.Navigation {
    display: block;
    height: 5em;
    background: var(--nav);
    color: var(--nav-color);
    z-index: 10;
}

.Navigation ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    grid-template-areas: 
        'home . . about services contact';
    text-align: center;
}

.Navigation ul li:nth-child(1) {
    grid-area: home;
}

.Navigation ul li:nth-child(2) {
    grid-area: about;
}

.Navigation ul li:nth-child(3) {
    grid-area: services;
}

.Navigation ul li:nth-child(4) {
    grid-area: contact;
}

.Navigation ul li a, .Navigation ul li span {
    cursor: pointer;
}

.Navigation ul li a {
    display: inline;
    transition: color 0.2s;
}

.Navigation ul li a:hover {
    color: var(--nav-hover);
}

.Navigation ul li a:target {
    color: var(--nav-hover);
}

@media(max-width: 800px) {

    .Navigation ul li:nth-child(1) {
        grid-area: unset;
    }

    .Navigation ul {
        text-align: left;
        height: unset;
    }

    .Navigation ul li:first-child {
        align-self: center;
        display: grid!important;
        grid-template-columns: auto auto;
    }

    .Navigation ul li:first-child :nth-child(2) {
        text-align: right;
    }

    .Navigation.closed ul {
        grid-template-areas: unset;
        align-items: center;
        height: 100%;
    }
    
    .Navigation.closed ul li:first-child {
        margin: 0 3em;
    }

    .Navigation.closed ul li {
        display: none;
    }

    .Navigation.open {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 6em);
        padding: 3em;
        transition: height 0.2s;
    }

    .Navigation.open ul {
        display: block;
    }

    .Navigation.open ul li {
        padding-bottom: 1em;
    }


}